config.h
config.mak
config.texi
bcheck.o
bt-exe.o
bt-log.o
c2str.exe
i386-asm.o
lib/alloca-bt.o
lib/alloca.o
lib/atomic.o
lib/builtin.o
lib/dsohandle.o
lib/libtcc1.o
lib/stdatomic.o
lib/tcov.o
lib/va_list.o
test/*
libtcc.a
libtcc.o
libtcc1.a
tcc
tcc.1
tcc.o
tccasm.o
tccdbg.o
tccdefs_.h
tccelf.o
tccgen.o
tccpp.o
tccrun.o
x86_64-gen.o
x86_64-link.o
